---
import Columns from "../../components/Base/Columns.astro";
import Icon from "../../components/Base/Icon.astro";
import TextBlock from "../../components/Base/TextBlock.astro";
import Input from "../../components/Forms/Input.astro";
import SubmitReset from "../../components/Forms/SubmitReset.astro";
import Textarea from "../../components/Forms/Textarea.astro";
import H1 from "../../components/Heading/H1.astro";
import H2 from "../../components/Heading/H2.astro";
import Section from "../../components/Layout/Section.astro";
import { EMAIL_ADDRESS, LOCATION, PHONE_NUMBER } from "../../config/site";
import Layout from "../../layouts/Layout.astro";
import { MapPin, Phone, Mail } from 'lucide'
---

<Layout
    title="Contact"
    description="Contact Josh Kaye for web design and development services"
>

    <H1>
        Get in touch
    </H1>

    <Section>
        <Columns cols={2}  class="gap-12">

            <form 
                id="contact"
                name="contact"
                method="post"
                class="grid gap-2"
                data-netlify="true"
            >

                <input type="hidden" name="subject" value="Web inquiry" />
                
                <Input props
                    title="Your name"
                    name="name"
                    type="text"
                    required
                />
            
                <Input props
                    title="Your email"
                    name="email"
                    type="email"
                    required
                />
                
                <Input props
                    title="Your phone number"
                    name="phone"
                    type="tel"
                    required
                />

                <Textarea props
                    title="Message"
                    name="message"
                    required
                />

                <SubmitReset />

            </form>

            <div class="bg-primary-50 p-6 rounded-xl">
                <TextBlock>

                    <H2>
                        I would love to hear from you!
                    </H2>

                    <p>
                        Whether you have questions about my services, need support, or want to provide feedback, I'm listening. Fill out the form here, and I will get back to you as soon as possible.
                    </p>

                    <p>
                        Check the <a href="/faq">frequently asked questions</a> for more information.
                    </p>

                    <div>
                        <h3 class="font-semibold mb-1">Location</h3>
                        <p class="fic-2">
                            <Icon icon={MapPin} stroke-width="1" class="w-5 h-5" />
                            {LOCATION}
                        </p>
                    </div>
                    
                    <div>
                        <h3 class="font-semibold mb-1">Email</h3>
                        <p class="fic-2 mb-2">
                            <Icon icon={Mail} stroke-width="1" class="w-5 h-5" />
                            <a href={`mailto:${EMAIL_ADDRESS}`}>
                                {EMAIL_ADDRESS}
                            </a>
                        </p>
                        <!-- <p class="fic-2">
                            <Icon icon={Phone} stroke-width="1" class="w-5 h-5" />
                            {PHONE_NUMBER}
                        </p> -->
                    </div>

                </TextBlock>

            </div>

        </Columns>
    </Section>

</Layout>

<script>
import { disableInitialInvalidState } from "../../js/form";

document.addEventListener('astro:page-load', () => 
    disableInitialInvalidState(['name', 'email', 'phone', 'message'])
)

</script>