---
import { PHONE_NUMBER, EMAIL_ADDRESS, LOCATION, SITE_FULL_NAME, PUBLISH_DATE } from "../../config/site";
import Logo from "../Base/Logo.astro";
import Columns from "../Base/Columns.astro";
import Section from "./Section.astro";
import { getPages } from "../../js/getPages";
import Icon from "../Base/Icon.astro";
import { Phone, Mail, MapPin } from 'lucide'
import TextBlock from "../Base/TextBlock.astro";
import List from "../Base/List.astro";
import CtaButton from "../Base/CtaButton.astro";

const pages = getPages().byGroup('footer').all()
const plans = getPages().subPagesOf('Plans + Pricing')
---

<footer class="bg-primary-100 pb-6">
    <Section>
        <Columns props cols={4} class="gap-6">

            <!-- Logo -->
            <div>
                <Logo />

                <TextBlock class="mt-4">
                    <p>
                        &copy; <span id="footer-date">{PUBLISH_DATE}</span><br /> 
                        {SITE_FULL_NAME}
                    </p>

                    <CtaButton />
                </TextBlock>
            </div>

            <!-- Contact -->
            <nav>
                <h2 class="text-xl font-semibold mb-3">Contact </h2>
                <ul class="grid gap-2">
                    <li>
                        <span class="fic-2">
                            <Icon icon={Phone} class="w-5 h-5" stroke-width="1.5" />
                            {PHONE_NUMBER}
                        </span>
                    </li>
        
                    <li>
                        <span class="fic-2">
                            <Icon icon={Mail} class="w-5 h-5" stroke-width="1.5" />
                            {EMAIL_ADDRESS}
                        </span>
                    </li>
                    
                    <li>
                        <span class="fic-2 select-none">
                            <Icon icon={MapPin} class="w-5 h-5" stroke-width="1.5" />
                            {LOCATION}
                        </span>
                    </li>
                </ul>
            </nav>

            <!-- Plans -->
            <nav>
                <h2 class="text-xl font-semibold mb-3">Web design plans</h2>
                <List variant="none">
                    { plans.map( (page) => ( 
                        <li>
                            <a 
                                href={page.path}
                                class="hover:underline"
                            >
                                {page.title}
                            </a>
                        </li>
                    ))}
                </List>
            </nav>

            <!-- Links -->
            <nav>
                <h2 class="text-xl font-semibold mb-3">Links</h2>
                <List variant="none">
                    { pages.map( (page) => ( 
                        <li>
                            <a 
                                href={page.path}
                                class="hover:underline"
                            >
                                {page.title}
                            </a>
                        </li>
                    ))}
                </List>
            </nav>

        </Columns>

    </Section>
</footer>
