---
import { PHONE_NUMBER, EMAIL_ADDRESS, LOCATION, SITE_FULL_NAME, PUBLISH_DATE } from "../../config/site";
import Logo from "../Base/Logo.astro";
import Columns from "../Base/Columns.astro";
import Section from "./Section.astro";
import { PhoneIcon, MailIcon, MapPinIcon } from '@lucide/astro'
import TextBlock from "../Base/TextBlock.astro";
---

<footer class="bg-primary-100 pb-6">
    <Section>
        <Columns props cols={2} class="gap-6">

            <!-- Logo -->
            <div>
                <Logo />

                <TextBlock class="mt-4">
                    <p>
                        &copy; <span id="footer-date">{PUBLISH_DATE}</span><br /> 
                        {SITE_FULL_NAME}
                    </p>
                </TextBlock>
            </div>

            <!-- Contact -->
            <nav>
                <h2 class="text-xl font-semibold mb-3">Contact </h2>
                <ul class="grid gap-2">
                    <li>
                        <a 
                            href={'tel:' + PHONE_NUMBER}
                            class="fic-2"
                        >
                            <PhoneIcon class="w-5 h-5" stroke-width="1.5" />
                            {PHONE_NUMBER}
                        </a>
                    </li>
        
                    <li>
                        <a 
                            href={'mailto:' + EMAIL_ADDRESS}
                            class="fic-2"
                        >
                            <MailIcon class="w-5 h-5" stroke-width="1.5" />
                            {EMAIL_ADDRESS}
                        </a>
                    </li>
                    
                    <li>
                        <span class="fic-2 select-none">
                            <MapPinIcon class="w-5 h-5" stroke-width="1.5" />
                            {LOCATION}
                        </span>
                    </li>
                </ul>
            </nav>

        </Columns>

    </Section>
</footer>
