---
import { PHONE_NUMBER, EMAIL_ADDRESS, LOCATION, SITE_FULL_NAME, PUBLISH_DATE } from "../../config/site";
import Logo from "../Base/Logo.astro";
import Columns from "../Base/Columns.astro";
import Section from "./Section.astro";
import { getPages } from "../../utils/getPages";
import Icon from "../Base/Icon.astro";
import { Phone, Mail, Pin } from 'lucide'
import TextBlock from "../Base/TextBlock.astro";

const pages = getPages().byGroup('footer').all()
const services = getPages().subPagesOf('Services')
---

<footer class="bg-primary-100">
    <Section>
        <Columns props cols={3} class="gap-6">

            <!-- Logo -->
            <div>
                <Logo />

                <TextBlock class="mt-4">
                    <p>
                        &copy; <span id="footer-date">{PUBLISH_DATE}</span><br /> 
                        {SITE_FULL_NAME}
                    </p>
                </TextBlock>
            </div>

            <!-- Contact -->
            <nav>
                <h2 class="text-xl font-semibold mb-3">Contact Us</h2>
                <ul class="grid gap-2">
                    <li>
                        <a href={PHONE_NUMBER} class="fic-2">
                            <Icon icon={Phone} class="w-5 h-5" stroke-width="1.5" />
                            {PHONE_NUMBER}
                        </a>
                    </li>
        
                    <li>
                        <a href={EMAIL_ADDRESS} class="fic-2">
                            <Icon icon={Mail} class="w-5 h-5" stroke-width="1.5" />
                            {EMAIL_ADDRESS}
                        </a>
                    </li>
                    
                    <li>
                        <a href={LOCATION} class="fic-2">
                            <Icon icon={Pin} class="w-5 h-5" stroke-width="1.5" />
                            {LOCATION}
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="grid grid-cols-[auto_auto] justify-between">

                <!-- Services -->
                <nav>
                    <h2 class="text-xl font-semibold mb-3">
                        Services
                    </h2>
                    <ul class="grid gap-2">
                        { services.map( (page) => ( 
                            <li>
                                <a 
                                    href={page.path}
                                    class="hover:underline"
                                >
                                    {page.title}
                                </a>
                            </li>
                        ))}
                    </ul>
                </nav>

                <!-- Links -->
                <nav>
                    <h2 class="text-xl font-semibold mb-3">
                        Links
                    </h2>
                    <ul class="grid gap-2">
                        { pages.map( (page) => ( 
                            <li>
                                <a 
                                    href={page.path}
                                    class="hover:underline"
                                >
                                    {page.title}
                                </a>
                            </li>
                        ))}
                    </ul>
                </nav>

            </div>

        </Columns>

    </Section>
</footer>
