---
import Icon from "./Icon.astro";
import { Star } from  'lucide'

---
<div class="fic-1 text-amber-400">
 
    <Icon icon={Star} class="stroke-0 fill-current" />
    <Icon icon={Star} class="stroke-0 fill-current" />
    <Icon icon={Star} class="stroke-0 fill-current" />
    <Icon icon={Star} class="stroke-0 fill-current" />
    <Icon icon={Star} class="stroke-0 fill-current" />
    
</div>
    