---
import Button from "../../components/Base/Button.astro";
import Columns from "../../components/Base/Columns.astro";
import TextBlock from "../../components/Base/TextBlock.astro";
import H1 from "../../components/Heading/H1.astro";
import H2 from "../../components/Heading/H2.astro";
import Section from "../../components/Layout/Section.astro";
import Project from "../../components/Project/Project.astro";
import ProjectRole from "../../components/Project/ProjectRole.astro";
import ProjectTags from "../../components/Project/ProjectTags.astro";
import { PROJECTS } from "../../config/projects";
import Layout from "../../layouts/Layout.astro";
---

<Layout 
    title="Web design projects"
    description="Small business web design templates and projects in Edmonton, Alberta"
>

    <H1>Projects</H1>

    <Section>

        <TextBlock class="mb-6">
			<p>
				I've partnered with clients across Canada and USA, in industries spanning hospitality, financial technology, health and fitness, local enthusiast groups, artist portfolios, and more. Regardless of your industry, I can create a website that's effective, visually appealing, high-performing, and customized to meet your business needs.
			</p>
        </TextBlock>

		<Columns cols={2} class="gap-16">
	
			{  PROJECTS.map( project => (
				<Project>
					<img 
						src={project.cover} 
						width="576"
						height="576"
						alt=""
                        class="w-full aspect-square mb-2"
						loading="lazy"
					/>
                    <H2>{project.title}</H2>
					<ProjectRole>{project.role}</ProjectRole>
					<ProjectTags>
						{ project.tags.map( tag => (
							<span class=" first:hidden">&#8226;</span>
							<span>{tag}</span>
						))}
					</ProjectTags>
                    <Button as="a" href={project.caseStudyUrl} variant="outline">
                        View case study
                    </Button>
				</Project>
			))}
			
		</Columns>
	</Section>

</Layout>