---
import { getCollection } from "astro:content";
import Heading from "../../components/Heading/H1.astro";
import Image from "../../components/Image.astro"
import Wrapper from "../../components/Wrapper.astro";
import EvenColumns from "../../components/EvenColumns.astro";
import TextFlow from "../../components/TextFlow.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export const prerender = true

export async function getStaticPaths() {

    const allProducts = await getCollection('products')
    
    return allProducts.map( product => ({
        params : { slug : product.slug },
        props : product
    }))
}


const {data, render} = Astro.props

const { Content } = await render()

---

<BaseLayout props
    lang="en"
    title={data.title}
    description="Tenetur culpa ab ipsam tempora est debitis? Totam quis saepe nostrum ducimus ipsa id vitae sit."
>

    <Heading>
        {data.title}
    </Heading>

    <section >
        <Wrapper width="max" padding="inline">

            <div class="mt-6">
                <a href="/products" class="flex items-center gap-2 mb-6 hover:underline text-primary-500">
                    <svg 
                        width="24" 
                        height="24" 
                        viewBox="0 0 24 24" 
                        fill="none" 
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path d="M12 0C13.1083 0 14.1708 0.141667 15.1875 0.425C16.2042 0.708333 17.1625 1.10833 18.0625 1.625C18.9625 2.14167 19.7708 2.76667 20.4875 3.5C21.2042 4.23333 21.8292 5.04583 22.3625 5.9375C22.8958 6.82917 23.3 7.78333 23.575 8.8C23.85 9.81667 23.9917 10.8833 24 12C24 13.1083 23.8583 14.1708 23.575 15.1875C23.2917 16.2042 22.8917 17.1625 22.375 18.0625C21.8583 18.9625 21.2333 19.7708 20.5 20.4875C19.7667 21.2042 18.9542 21.8292 18.0625 22.3625C17.1708 22.8958 16.2167 23.3 15.2 23.575C14.1833 23.85 13.1167 23.9917 12 24C10.8917 24 9.82917 23.8583 8.8125 23.575C7.79583 23.2917 6.8375 22.8917 5.9375 22.375C5.0375 21.8583 4.22917 21.2333 3.5125 20.5C2.79583 19.7667 2.17083 18.9542 1.6375 18.0625C1.10417 17.1708 0.7 16.2167 0.425 15.2C0.15 14.1833 0.00833333 13.1167 0 12C0 10.8917 0.141667 9.82917 0.425 8.8125C0.708333 7.79583 1.10833 6.8375 1.625 5.9375C2.14167 5.0375 2.76667 4.22917 3.5 3.5125C4.23333 2.79583 5.04583 2.17083 5.9375 1.6375C6.82917 1.10417 7.78333 0.7 8.8 0.425C9.81667 0.15 10.8833 0.00833333 12 0ZM12 22.4C12.9583 22.4 13.8792 22.275 14.7625 22.025C15.6458 21.775 16.4708 21.425 17.2375 20.975C18.0042 20.525 18.7083 19.9833 19.35 19.35C19.9917 18.7167 20.5333 18.0167 20.975 17.25C21.4167 16.4833 21.7667 15.6542 22.025 14.7625C22.2833 13.8708 22.4083 12.95 22.4 12C22.4 11.0417 22.275 10.1208 22.025 9.2375C21.775 8.35417 21.425 7.52917 20.975 6.7625C20.525 5.99583 19.9833 5.29167 19.35 4.65C18.7167 4.00833 18.0167 3.46667 17.25 3.025C16.4833 2.58333 15.6542 2.23333 14.7625 1.975C13.8708 1.71667 12.95 1.59167 12 1.6C11.0417 1.6 10.1208 1.725 9.2375 1.975C8.35417 2.225 7.52917 2.575 6.7625 3.025C5.99583 3.475 5.29167 4.01667 4.65 4.65C4.00833 5.28333 3.46667 5.98333 3.025 6.75C2.58333 7.51667 2.23333 8.34583 1.975 9.2375C1.71667 10.1292 1.59167 11.05 1.6 12C1.6 12.9583 1.725 13.8792 1.975 14.7625C2.225 15.6458 2.575 16.4708 3.025 17.2375C3.475 18.0042 4.01667 18.7083 4.65 19.35C5.28333 19.9917 5.98333 20.5333 6.75 20.975C7.51667 21.4167 8.34583 21.7667 9.2375 22.025C10.1292 22.2833 11.05 22.4083 12 22.4ZM9.0875 11.2H17.6V12.8H9.0875L12.5625 16.225L11.4375 17.375L6.0125 12L11.4375 6.625L12.5625 7.775L9.0875 11.2Z" fill="currentcolor"/>
                    </svg>
                        
                    Back to Products
                </a>
            </div>

            <EvenColumns class="gap-12">

                <Image props src={data.image} alt={`Product: ${data.title}`} width={300} height={300} class="w-full" />
                
                <div>



                    <span class="text-xl font-semibold">
                        ${data.price}
                    </span>
                    
                    <TextFlow>
                        <Content />
                    </TextFlow>

                </div>

            </EvenColumns>

        </Wrapper>
    </section>

</BaseLayout>
