---
import '../css/main.css'
import { SITE_SHORT_NAME, SITE_URL } from '../config/site';
import BackToTop from '../components/Layout/BackToTop.astro';
import Footer from '../components/Layout/Footer.astro';
import Header from '../components/Layout/Header.astro';
import SkipToContent from '../components/Layout/SkipToContent.astro';
import Main from '../components/Layout/Main.astro';
import Favicon from '../components/Layout/Favicon.astro';
import Fonts from '../components/Layout/Fonts.astro';
import SocialPreview from '../components/Layout/SocialPreview.astro';


interface Props  {
	title : string,
    description : string,
	lang? : string,
	class? : string,
	props? : true
}

const {
    title = '',
    description = '',
	lang = 'en',
	class : className = ''
} = Astro.props

---

<html lang={lang} class="">

	<head>
		<!-- <meta 
			http-equiv="Content-Security-Policy" 
			content=`default-src https:; 
					img-src 'self';
					object-src 'self';
					connect-src 'self';
					script-src 'self' ${import.meta.env.DEV ? 'http://localhost:4321;' : ''};
					${import.meta.env.DEV 
						? "style-src 'unsafe-inline' https://fonts.googleapis.com;" 
						: "style-src 'self' https://fonts.googleapis.com;"
					}
					style-src-attr 'unsafe-inline';
		`/> -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#D7CCC1" />
		<meta name="description" content={description}>
		<title>{title + ' - ' + SITE_SHORT_NAME}</title>
		<Favicon />
		<Fonts />
		<SocialPreview title={title} description={description} />
		<slot name="meta" />
	</head>

	<body 
		class:list={['bg-primary-25 font-base text-primary-900', className]}
		data-mobile-menu="closed"
	>

		<SkipToContent />

		<div id="top" class=" h-0 w-full" />

		<Header />

        <Main>

            <slot />

        </Main>

        <Footer />

		<BackToTop />
		
	</body>
</html>


