---
import Icon from '../Icon.astro';
import Link from '../Link.astro';

interface Props {

    /** Link href of Contact link */
    href? : string,

    /** Material Icon string */
    icon? : string,

    class? : string,

    /**
     * @prop href string
     * @prop icon string
     * @prop slot
     */
    props? : true,
}

const {
    href,
    icon,
    class : className = ''
} = Astro.props
---

{ href ? (

    <li>
        <Link to={href} class={`flex items-center gap-2 text-sm ${className} `} ignoreLangPrefix>

            {icon && <Icon icon={icon} /> }

            <slot />
        </Link>
    </li>

) : (

    <li class={`flex items-center gap-2 text-sm ${className} `}>

        {icon && <Icon icon={icon} /> }

        <slot />
    </li>

)}