---
import type { HTMLAttributes } from 'astro/types';
import { ADDRESS, EMAIL_ADDRESS, LOCATION, PHONE_NUMBER } from '../../config';
import SecondaryLink from './SecondaryLink.astro';
import Wrapper from '../Base/Wrapper.astro';

interface Props extends HTMLAttributes<'div'> {

    /**
     * @extends <div>
     * @props slot
     */
    props? : true
}
---

<div class="py-2 bg-primary-900">
    <Wrapper padding='inline'>
        <ul class="flex flex-wrap items-center justify-end gap-x-6 gap-y-2">

            <SecondaryLink href={PHONE_NUMBER}>
                {PHONE_NUMBER}
            </SecondaryLink>

            <SecondaryLink href={EMAIL_ADDRESS}>
                {EMAIL_ADDRESS}
            </SecondaryLink>
            
            <SecondaryLink href={LOCATION}>
                {LOCATION}
            </SecondaryLink>
        </ul>
    </Wrapper>
</div>