---
import type { TextInput, NonTextInput } from './formTypes'

type Props = TextInput | NonTextInput

const {
    type,
    name,
    required = false,
    label
} = Astro.props
---

<label 
    class="grid items-center w-full max-w-[600px] first:mt-4"
>

    <span class="fic-2 mb-1 font-bold text-lg">
        { label || name }
        { required && (
            <span class="inline-block text-sm opacity-60">
                (Required)
            </span>
        )}
    </span>

    { type ===  'textarea' ? (

        <textarea 
            name={name.toLowerCase()} 
            id={name.toLowerCase()}
            class="p-2 rounded border border-primary-300 bg-white/50 focus-visible:border-primary-600 h-32"
         />

    ) : type === 'select' ? (

        <select 
            name={name.toLowerCase()} 
            id={name.toLowerCase()}
            class="p-2 rounded border border-primary-300 bg-white/50 focus-visible:border-primary-600"
        >
            <slot />    
        </select>

    ) : (

        <input 
            type={type} 
            name={name.toLowerCase()} 
            id={name.toLowerCase()} 
            required={required} 
            class="p-2 rounded border border-primary-300 bg-white/50 focus-visible:border-primary-600"
        />

    )}

</label>


<style>

label:has(input[type=checkbox]),
label:has(input[type=radio]) {
    grid-template-columns: 1fr 2fr;
    justify-content: start;
    justify-items: start;
    gap : 1rem;
    padding-block : 0.25rem;
}

label:has(input[type=checkbox]):hover,
label:has(input[type=radio]):hover {
    cursor: pointer;

}
</style>


