---
import type { HTMLAttributes } from 'astro/types'
import FormFieldTitle from './FormFieldTitle.astro'
import Label from './Label.astro'

interface Props extends HTMLAttributes<'select'> {

    /**
     * The title of heading of the input. This is inside the label
     */
     title : string,

    /**
     * Name and id of input
     */
    name : string,

    /**
     * List of \<option> children for select tag
     */
    options : { value: string, title: string }[]

    /**
     * @prop title : string
     * @prop name : string
     * @prop options : { value: string, title: string }[]
     */
    props? : true
}

const { title, name, options, required, ...props } = Astro.props
---
<Label>

    <FormFieldTitle title={title} required={required} />

    <select 
        name={name.toLowerCase()} 
        id={name.toLowerCase()}
        class="form-field"
        {...props}
    >
        { options.map( option => (
            <option value={option.value}>{option.title}</option>
        ))}
    </select>
    
</Label>