---
import type { HTMLAttributes } from 'astro/types'
import FormFieldTitle from './FormFieldTitle.astro'
import Label from './Label.astro'

interface Props extends HTMLAttributes<'textarea'> {

    /**
     * The title of heading of the input. This is inside the label
     */
    title : string,

    /**
     * Name and id of input
     */
    name : string,

    /**
     * @prop title : string
     * @prop name : string
     */
    props? : true
}

const { title, name, required, ...props } = Astro.props
---

<Label>

    <FormFieldTitle title={title} required={required} />

    <textarea 
        name={name.toLowerCase()} 
        id={name.toLowerCase()}
        class="form-field [&:invalid]:border-red-400"
        rows="5"
        required={required}
        {...props}
    ></textarea>


</Label>